# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/
*.swp

# Node.js (if using frontend with Next.js)
node_modules/
npm-debug.log
yarn-error.log
